
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
eggs/
.eggs/
*.egg-info/
*.egg
venv/*
*env/*
build/*

*.csv
.pytest_cache/

.vscode/*
!.vscode/settings.json
!.vscode/launch.json


*.log
